.fondop2{
    --background:linear-gradient(to right, #c5211c , #F7BA79);
}

.main_content_div2{
   width: 100%; 
}

ion-label{
    display: block;
    color: white;
    text-align: center;
}

.categoria_text{

    font-size: 16px;
    padding-top: 16px;
}



.main_content_div .menu_btn{
    position: relative;
    top: 40px;
    left: 10px;
}

.logo_div{
    padding: 20px;
    width: 100%;
    height: 260px;
    background: linear-gradient(to right,  #c5211c, #F7BA79);
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
}

.primer_div{
    padding-top: 35px;    
}


.primer_div .titulo{
font-size: 20px;
color: white;
font-weight: 600;
padding-bottom: 4em;
letter-spacing: 2px;
position: relative;
-webkit-text-stroke: 0.3vw #fa8525;
text-transform: uppercase;
}

.primer_div .titulo::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 20%;
    color: white;
    -webkit-text-stroke: 0vw #fa8525;
    border-right: 2px solid #01fe87;
    overflow: hidden;
    animation: animate 6s linear infinite;

}


@keyframes animate{
    0%, 10%, 100%{
        width: 0;
    }
    70%,90% {
        width: 100%;
    }


}


.logo_div .logo_back{
height: 100px;
width: 80px;
border: 3px solid white;
background-position: top;
background-size: cover;
background-repeat: no-repeat;
border-radius: 7px;
background-image: url(/public/assets/img/logo.jpg);
}

.content_div{
    background: linear-gradient(to top, #f0332d, #f58443,  #ffffff);
    width: 100%;
    border-top-right-radius: 75px;
    margin-top: -90px;
    padding-top: 30px;

}

.content_div .col_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background:linear-gradient(to right,  #f0332d , #F7BA79);
}

.content_div .hola_lbl{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 5px;
    margin-top: 10px;
    color: #FC210D;
}

.content_div ion-grid{
    padding: 0px;
    
}



.col_div img{
    width: 110px;
    height: 80px;
}

.content_div .card{
    width: 88%;
    border-radius: 6px;
    margin: 0px auto;
}



.content_div .img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    justify-items: center;
    
}

.content_div .card-content{
    color: black;
    text-align: justify;
    font-size: 14px;
}

.button_n{
    --background:linear-gradient(to right, #070707 , #585f79);
    
}